/*------------------#SECTION COMMON----------------------*/
.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 35px;
  color: $white;
  background-color: $red;
  padding: 0 15px;
  border-radius: 5px;
  font-family: 'ubuntumedium';
  text-transform: uppercase;
}

.title {
  font-family: 'gagalinregular';
  font-size: 72px;
  text-transform: uppercase;
  line-height: 72px;

  &_tac {
    text-align: center;
  }

  &_30px {
    font-size: 30px;
  }
}

.arrow {
  width: 30px;
  height: 16px;
  &_left {
    transform: rotate(90deg);
  }
  &_right {
    transform: rotate(-90deg);
  }
}

.col-1 {
  width: 100%;

  &__block {
    width: 21.25%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    &:last-child {
      margin-right: 0;
    }

  }
}

.col-2 {
  width: 100%;

  &__block {
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.col4 {
  width: 100%;
}


.review-modal {
  //position: absolute;
  //top: 0;
  width: 460px;
  border-radius: 5px;
  padding: 25px 20px;
  background-color: $white;
  display: inline-block;
  position: relative;

  &__close {
    width: 15px;
    height: 15px;
    background: url(/img/icons/close.svg);
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__title {
    font-family: 'gagalinregular';
    margin-bottom: 25px;
  }


}

.fancybox-close-small {
  display: none;
}